.fondoItem{
    background-color: #FF111328;
    height: 130px;
    border-radius: 20px;
    color: white;
}

.btn{
    border-radius: 25px;
}

.sexo{
    font-size: 40px;
}
.estiloNumero{
    font-size: 32px;
    font-weight: 800;
    margin-top: -30px;
}

.cm{
    font-size: 16px;
    font-weight: 400;
    margin-left: -10px;
}

.form-range{
    padding: 0px 20px;
    width: 90%;
    background: red;
}

.sumaResta{
    cursor: pointer;
    background-color: #FF4C4E5E;
    padding: 7px;
    border-radius: 15px;
    margin-left: 3px;
}

